.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-self: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.box {
  border: 2px solid #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.lowerBox {
  display: flex;
  justify-content: center;
}

.Row {
  display: grid;
  grid-template-rows: 5fr 1fr;

}

.logolayout {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.logo {
  align-self: center;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: right;

}

.word {
  width: 280px;
  height: 220px;
}

.pad {
  padding-right: 2px;
}

.buttons {
  padding-top: 2px;
  padding-left: 2px;
}
